.task-item {
  padding: 12px;
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
  width: max-content;
  transition: 500ms;
  cursor: pointer;
  p {
    color: #fff;
    font-family: SF5;
  }
  &__arrow {
    padding: 4px;
    border-radius: 100%;
  }
}