.side-bar-item {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  &.active {
    background-color: $bgc--highlight;
    fill: $primary;
  }
}