.progress-bar {
  display: flex;
  gap: 4px;
  .bar {
    height: 22px;
  }
  .fill {
    background-color: $primary;
    border-radius: 200px 4px 4px 200px;
    box-shadow: 0px 5px 28px -6px rgba(0, 145, 255, 0.4);
    position: relative;
    p {
      position: absolute;
      color: $primary;
      top: 150%;
      right: 0;
    }
  }
  .empty {
    border-radius: 4px 200px 200px 4px;
    background-color: #E7EAEA;
  }
}