@font-face {
  font-family: SF4;
  src: url('/assets/fonts/SF-Pro-Display-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: SF5;
  src: url('/assets/fonts/SF-Pro-Display-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: SF6;
  src: url('/assets/fonts/SF-Pro-Display-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: SF7;
  src: url('/assets/fonts/SF-Pro-Display-Bold.otf');
  font-weight: 700;
}